body {
    background-color: #1e1e1e;
    color: #d4d4d4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #000026;
    color: #d4d4d4;
    padding: 2rem;
    text-align: center;
}

a {
    color: #569cd6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

h1, h2, h3, h4, h5, h6 {
    color: #ff770f;
}

button {
    background-color: #007acc;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

button:hover {
    background-color: #005a9e;
}

ul {
    list-style-type: none;
}


ul li::before {
    content: "✨";
}

.sakura li::before {
    content: "🌸";
}

.education {
    display: flex;
    flex-direction: column;
}

.education-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.education-date {
    flex: 0 0 100px;
    text-align: left;
    color: #dcdcaa;
}

.education-description {
    flex: 1;
    text-align: left;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 调整图像大小 */
.heart-image {
    max-width: 100%;
    height: auto;
    width: 50%;
}